{{!-- updateDistribution --}}
{{#if updateDistributionForm}}
<h3>New Error and Solution</h3>
<div>
  <form>
    <div class="form-group">
      <label for="code">Error</label>
      {{input value=code id="code"}}
    </div>
    <div class="form-group">
      <label for="details">Solution</label>
      {{input value=details id="details"}}
    </div>

    <button {{action 'updateDistribution' category}}>Save</button>
  </form>
</div>
{{else}}
  <button {{action 'updatedistributionForm'}}>Edit error&solution</button>
{{/if}}
